<div class="page-content" id="page-home">

  <div class="count-wrap" layout-margin layout="row" layout-xs="column" layout-align="center" layout-align-gt-xs="space-between center">
    <md-card flex="100" flex-gt-xs="45" flex-gt-sm="20" layout="row" class="item">
      <div class="count-box" flex="100" layout-padding layout="column" layout-align="center center">
        <div class="head">
          文章总数
        </div>
        <div class="content">
          <md-progress-circular ng-show="vm.CountLoading.post" md-diameter="36px;" md-mode="indeterminate"></md-progress-circular>
          <h2 style="height:36px;" ng-hide="vm.CountLoading.post">{{vm.Count.post}}</h2>
        </div>
      </div>
    </md-card>

    <md-card flex="100" flex-gt-xs="45" flex-gt-sm="20" layout="row" class="item">
      <div class="count-box" flex="100" layout-padding layout="column" layout-align="center center">
        <div class="head">
          已发布文章数
        </div>
        <div class="content">
          <md-progress-circular ng-show="vm.CountLoading.postPublished" md-diameter="36px;" md-mode="indeterminate"></md-progress-circular>
          <h2 style="height:36px;" ng-hide="vm.CountLoading.postPublished">{{vm.Count.postPublished}}</h2>
        </div>
      </div>
    </md-card>

    <md-card flex="100" flex-gt-xs="45" flex-gt-sm="20" layout="row" class="item">
      <div class="count-box" flex="100" layout-padding layout="column" layout-align="center center">
        <div class="head">
          用户总数
        </div>
        <div class="content">
          <md-progress-circular ng-show="vm.CountLoading.user" md-diameter="36px;" md-mode="indeterminate"></md-progress-circular>
          <h2 style="height:36px;" ng-hide="vm.CountLoading.user">{{vm.Count.user}}</h2>
        </div>
      </div>
    </md-card>

    <md-card flex="100" flex-gt-xs="45" flex-gt-sm="20" layout="row" class="item">
      <div class="count-box" flex="100" layout-padding layout="column" layout-align="center center">
        <div class="head">
          分类总数
        </div>
        <div class="content">
          <md-progress-circular ng-show="vm.CountLoading.category" md-diameter="36px;" md-mode="indeterminate"></md-progress-circular>
          <h2 style="height:36px;" ng-hide="vm.CountLoading.category">{{vm.Count.category}}</h2>
        </div>
      </div>
    </md-card>

  </div>

  <div layout-gt-md="row" layout="column">
    <md-card flex="100" flex-gt-md="50" class="chart-card">
      <md-toolbar class="white-toolbar">
        <div class="md-toolbar-tools" layout="row">
          <span class="md-headline">文章趋势统计</span>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="vm.getPostTrend()" ng-disabled="vm.postTrendChartLoading">
            <md-icon class="icon">refresh</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content layout="row" layout-align="center center">
        <md-progress-circular ng-show="vm.postTrendChartLoading" md-diameter="50px;" md-mode="indeterminate"></md-progress-circular>
        <canvas class="chart chart-line" ng-if="!vm.postTrendChartLoading" chart-colors="vm.trendColors" chart-data="vm.trendData" chart-labels="vm.trendLabels" chart-series="vm.trendSeries"></canvas>
      </md-card-content>
    </md-card>

    <md-card flex="100" flex-gt-md="50" class="chart-card">
      <md-toolbar class="white-toolbar">
        <div class="md-toolbar-tools" layout="row">
          <span class="md-headline">事件</span>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="vm.getLog()" ng-disabled="vm.logLoading">
            <md-icon class="icon">refresh</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content ng-show="vm.logLoading" layout="column" layout-align="center center">
        <md-progress-circular md-diameter="50px;" md-mode="indeterminate"></md-progress-circular>
      </md-card-content>
      <md-table-container ng-if="!vm.logLoading">
        <table md-table>
          <thead md-head>
            <tr md-row>
              <th md-column>#</th>
              <th md-column>用户名</th>
              <th md-column>操作</th>
              <th md-column>时间</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="item in vm.logs">
              <td md-cell>
                {{$index+1}}
              </td>
              <td md-cell>
                {{item.name.name}}
              </td>
              <td md-cell>
                {{item.content | limitTo: 15}}
                <md-tooltip>
                  {{item.content}}
                </md-tooltip>
              </td>
              <td md-cell>{{item.create_at | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card>
  </div>

  <div layout-gt-md="row" layout="column">
    <md-card flex="100" flex-gt-md="50" class="chart-card">
      <md-toolbar class="white-toolbar">
        <div class="md-toolbar-tools" layout="row">
          <span class="md-headline">用户文章统计</span>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="vm.getUserStat()" ng-disabled="vm.userChartLoading">
            <md-icon class="icon">refresh</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content layout="row" layout-align="center center">
        <md-progress-circular ng-show="vm.userChartLoading" md-diameter="50px;" md-mode="indeterminate"></md-progress-circular>
        <canvas class="chart-bar" ng-if="!vm.userChartLoading" chart-data="vm.userChartData" chart-labels="vm.userChartLabels"></canvas>
      </md-card-content>
    </md-card>

    <md-card flex="100" flex-gt-md="50" class="chart-card">
      <md-toolbar class="white-toolbar">
        <div class="md-toolbar-tools" layout="row">
          <span class="md-headline">文章分类统计</span>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="vm.getCategoryStat()" ng-disabled="vm.categoryChartLoading">
            <md-icon class="icon">refresh</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content layout="row" layout-align="center center">
        <md-progress-circular ng-show="vm.categoryChartLoading" md-diameter="50px;" md-mode="indeterminate"></md-progress-circular>
        <canvas class="chart-pie" ng-if="!vm.categoryChartLoading" chart-data="vm.categoryChartData" chart-labels="vm.categoryChartLabels"></canvas>
      </md-card-content>
    </md-card>

  </div>

</div>