<div class="page-content" id="page-home">

  <!--<div class="page-head" layout-margin>
    <h1>概况</h1>
  </div>-->

  <div class="count-wrap" layout-margin layout="row" layout-xs="column" layout-align="center" layout-align-gt-xs="space-between center">
    <md-card flex="100" flex-gt-xs="45" flex-gt-sm="20" layout="row" class="item">
      <div class="count-box" flex="100" layout-padding layout="column" layout-align="center center">
        <div class="head">
          文章总数
        </div>
        <div class="content">
          <md-progress-circular ng-show="vm.CountLoading.allArticle" md-diameter="36px;" md-mode="indeterminate"></md-progress-circular>
          <h2 style="height:36px;" ng-hide="vm.CountLoading.allArticle">{{vm.Count.allArticle}}</h2>
        </div>
      </div>
    </md-card>

    <md-card flex="100" flex-gt-xs="45" flex-gt-sm="20" layout="row" class="item">
      <div class="count-box" flex="100" layout-padding layout="column" layout-align="center center">
        <div class="head">
          已发布文章数
        </div>
        <div class="content">
          <md-progress-circular ng-show="vm.CountLoading.publishedArticle" md-diameter="36px;" md-mode="indeterminate"></md-progress-circular>
          <h2 style="height:36px;" ng-hide="vm.CountLoading.publishedArticle">{{vm.Count.publishedArticle}}</h2>
        </div>
      </div>
    </md-card>

    <md-card flex="100" flex-gt-xs="45" flex-gt-sm="20" layout="row" class="item">
      <div class="count-box" flex="100" layout-padding layout="column" layout-align="center center">
        <div class="head">
          用户总数
        </div>
        <div class="content">
          <md-progress-circular ng-show="vm.CountLoading.allUser" md-diameter="36px;" md-mode="indeterminate"></md-progress-circular>
          <h2 style="height:36px;" ng-hide="vm.CountLoading.allUser">{{vm.Count.allUser}}</h2>
        </div>
      </div>
    </md-card>

    <md-card flex="100" flex-gt-xs="45" flex-gt-sm="20" layout="row" class="item">
      <div class="count-box" flex="100" layout-padding layout="column" layout-align="center center">
        <div class="head">
          分类总数
        </div>
        <div class="content">
          <md-progress-circular ng-show="vm.CountLoading.allCategory" md-diameter="36px;" md-mode="indeterminate"></md-progress-circular>
          <h2 style="height:36px;" ng-hide="vm.CountLoading.allCategory">{{vm.Count.allCategory}}</h2>
        </div>
      </div>
    </md-card>

  </div>

  <div layout-gt-md="row" layout="column">
    <md-card flex="100" flex-gt-md="50" class="chart-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">统计</span>
        </md-card-title-text>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.refreshMainChart()">
          <md-icon class="icon">refresh</md-icon>
        </md-button>
        <md-button class="md-icon-button">
          <md-icon class="icon">more_vert</md-icon>
        </md-button>
      </md-card-title>
      <md-card-content>
        <canvas class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-click="onClick"></canvas>
      </md-card-content>
    </md-card>

    <md-card flex="100" flex-gt-md="50" class="chart-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">分类统计</span>
        </md-card-title-text>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.refreshMainChart()">
          <md-icon class="icon">refresh</md-icon>
        </md-button>
        <md-button class="md-icon-button">
          <md-icon class="icon">more_vert</md-icon>
        </md-button>
      </md-card-title>
      <md-card-content>
        <canvas class="chart-pie" chart-data="vm.categoryChartData" chart-labels="vm.categoryChartLabels"></canvas>
      </md-card-content>
    </md-card>
  </div>

  <div layout-gt-md="row" layout="column">
    <md-card flex="100" flex-gt-md="50" class="chart-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">用户统计</span>
        </md-card-title-text>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.refreshMainChart()">
          <md-icon class="icon">refresh</md-icon>
        </md-button>
        <md-button class="md-icon-button">
          <md-icon class="icon">more_vert</md-icon>
        </md-button>
      </md-card-title>
      <md-card-content>
        <canvas class="chart-bar" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series"></canvas>
      </md-card-content>
    </md-card>

    <md-card flex="100" flex-gt-md="50" class="chart-card">

      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">事件</span>
        </md-card-title-text>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.refreshMainChart()">
          <md-icon class="icon">refresh</md-icon>
        </md-button>
        <md-button class="md-icon-button">
          <md-icon class="icon">more_vert</md-icon>
        </md-button>
      </md-card-title>
      <md-card-content>

      </md-card-content>
    </md-card>

  </div>

</div>