{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "angular/document-service": 0,
  	"angular/angularelement": 0,
    "no-case-declarations" : 0
  },
  "globals": {
    "angular": true,
    "editormd": true,
    "module": true,
    "inject": true,
    "$": true,
    "placeholder": true,
    "jquery": true,
    "MediumEditor": true
  }
}
