<div class="page-content" id="page-setting">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">设置</span>
      </md-card-title-text>
    </md-card-title>
    <md-progress-linear ng-class="{true: 'visible', false: 'invisible'}[vm.showLoading]" md-mode="indeterminate"></md-progress-linear>
    <md-card-content>
      <form name="settingForm">
        <md-input-container class="md-block">
          <label>注册链接</label>
          <input ng-model="vm.settings.signup_link" type="text">
        </md-input-container>
        <md-input-container class="md-block">
          <label>注册链接失效期限(单位：天)</label>
          <input ng-model="vm.settings.signup_expire" type="number">
        </md-input-container>
        <md-input-container class="md-block">
          <label>重置密码链接</label>
          <input ng-model="vm.settings.resetpass_link" type="text">
        </md-input-container>
        <md-input-container class="md-block">
          <label>重置密码链接失效期限(单位：天)</label>
          <input ng-model="vm.settings.resetpass_expire" type="number">
        </md-input-container>
      </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button style="height:36px;" class="md-raised md-primary" ng-click="vm.save()" ng-disabled="settingForm.$invalid || vm.showLoading" layout="row" layout-align="center center">
        <span ng-show="!vm.showLoading">保存</span>
        <md-progress-circular md-diameter="36px;" md-mode="indeterminate" ng-show="vm.showLoading"></md-progress-circular>
      </md-button>
    </md-card-actions>
  </md-card>
</div>