<div id="page-login">
  <md-card flex="95" flex-gt-xs="60" flex-gt-sm="40" flex-gt-md="30" flex-gt-lg="20" id="login-card">
    <md-card-title>
      <md-card-title-text>
        <h2 class="md-headline">登录</h2>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <form layout="column" name="userForm">
        <md-input-container>
          <label>邮箱/用户名</label>
          <input type="text" name="username" ng-model="vm.user.account_name" required>
          <div ng-messages="userForm.username.$error">
            <div ng-message="required">邮箱/用户名必填</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>密码</label>
          <input type="password" name="password" ng-model="vm.user.password" required>
          <div ng-messages="userForm.password.$error">
            <div ng-message="required">密码必填</div>
          </div>
        </md-input-container>
        <div layout="row" layout-align="space-between center">
          <md-switch ng-model="vm.autoLogin" ng-change="vm.changeAutoLogin()">下次自动登录</md-switch>
          <md-button>忘记密码？</md-button>
        </div>
        <md-input-container>
          <md-button style="height:36px;" type="submit" class="md-primary md-raised" ng-click="vm.submit()" ng-disabled="userForm.$invalid || vm.showLoading" layout="row" layout-align="center center">
            <span ng-show="!vm.showLoading">登录</span>
            <md-progress-circular md-diameter="36px;" md-mode="indeterminate" ng-show="vm.showLoading"></md-progress-circular>
          </md-button>
        </md-input-container>
      </form>
    </md-card-content>
  </md-card>
</div>