<div class="page-content" id="page-category">

  <md-card>
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <div class="add-box" layout="row">
          <md-icon>add</md-icon>
          <input type="text" placeholder="输入新分类名" ng-model="vm.newCategory.name" ng-keydown="vm.add($event)">
        </div>
      </div>
    </md-toolbar>
    <md-progress-linear ng-class="{true: 'visible', false: 'invisible'}[vm.showLoading]" md-mode="indeterminate"></md-progress-linear>
    <md-table-container>
      <table md-table>
        <thead md-head>
          <tr md-row>
            <th md-column>#</th>
            <th md-column>分类名</th>
            <th md-column>创建时间</th>
            <th md-column>更新时间</th>
            <th md-column>操作</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="item in vm.categories" ng-class="listAnimateClass">
            <td md-cell>
              {{$index + 1}}
            </td>
            <td md-cell>
              {{item.name}}
            </td>
            <td md-cell>{{item.create_at | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td md-cell>{{item.update_at || '/' | date: 'yyyy-MM-dd HH:mm:ss'}}</td>

            <td md-cell>
              <md-icon ng-click="vm.showEditPrompt($event, item)" permission="category.put">
                open_in_new
                <md-tooltip md-direction="bottom">
                  编辑
                </md-tooltip>
              </md-icon>
              <md-icon ng-click="vm.showDeleteConfirm($event, item)" permission="category.delete">
                delete
                <md-tooltip md-direction="bottom">
                  删除
                </md-tooltip>
              </md-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <paging options="vm.pageOptions" ng-if="vm.pageOptions.count" ng-class="listAnimateClass"></paging>
    </md-table-container>
  </md-card>

</div>