<div id="page-sign">
  <md-card flex="95" flex-gt-xs="60" flex-gt-sm="40" flex-gt-md="30" flex-gt-lg="20" id="sign-card">
    <md-card-title>
      <md-card-title-text>
        <h2 class="md-headline">注册</h2>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <small class="red" ng-if="vm.$stateParams.key">你的账号邮箱就是你接到此链接的邮箱地址</small>
      <form layout="column" name="userForm">
        <md-input-container>
          <label>用户名</label>
          <input type="text" name="name" ng-model="vm.user.name" required>
          <div ng-messages="userForm.name.$error">
            <div ng-message="required">用户名必填</div>
          </div>
        </md-input-container>
        <md-input-container ng-if="!vm.$stateParams.key">
          <label>邮箱</label>
          <input type="email" name="email" ng-model="vm.user.email" required>
          <div ng-messages="userForm.email.$error">
            <div ng-message="required">邮箱必填</div>
            <div ng-message="email">邮箱格式不正确。</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>密码</label>
          <input type="password" name="password" ng-model="vm.user.password" minlength="6" md-maxlength="16" required>
          <div ng-messages="userForm.password.$error">
            <div ng-message="required">密码必填</div>
            <div ng-message="minlength">密码至少6位。</div>
            <div ng-message="md-maxlength">密码最多16位。</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>重复密码</label>
          <input type="password" name="repeatPw" ng-model="repeatPw" compare-to="vm.user.password" minlength="6" md-maxlength="16" required>
          <div ng-messages="userForm.repeatPw.$error">
            <div ng-message="required">请重复填写密码</div>
            <div ng-message="minlength">密码至少6位。</div>
            <div ng-message="md-maxlength">密码最多16位。</div>
            <div ng-message="compareTo">两次密码输入不一致。</div>
          </div>
        </md-input-container>
        <md-input-container>
          <loading-button class="md-primary md-raised" text="注册" loading="vm.showLoading" click="vm.submit()" disabled="userForm.$invalid || vm.showLoading"></loading-button>
        </md-input-container>
      </form>
    </md-card-content>
  </md-card>
</div>