#editor-view{
  height: 100%;
}
#page-editor{
  height: 100%;
  overflow: hidden;
  .editor-title{
    margin: 0;
    padding: 0;
    .md-input{
      height: 50px;
      padding: 0 8px;
      border-bottom-width: 1px;
    }
    .md-errors-spacer{
      display: none;
    }
  }
}