/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */

// bower:less
// endbower

@white: #fff;
.white{
  color: @white;
}
@red: #F44336;
.red{
  color: @red;
}
@pink: #E91E63;
.pink{
  color: @pink;
}
@purple: #9C27B0;
.purple{
  color: @purple;
}
@deep-purple: #673AB7;
.deep-purple{
  color: @deep-purple;
}
@indigo: #3F51B5;
.indigo{
  color: @indigo;
}
@blue: #2196F3;
.blue{
  color: @blue;
}
@light-blue: #03A9F4;
.light-blue{
  color: @light-blue;
}
@cyan: #00BCD4;
.cyan{
  color: @cyan;
}
@teal: #009688;
.teal{
  color: @teal;
}
@green: #4CAF50;
.green{
  color: @green;
}
@light-green: #8BC34A;
.light-green{
  color: @light-green;
}
@lime: #CDDC39;
.lime{
  color: @lime;
}
@yellow: #FFEB3B;
.yellow{
  color: @yellow;
}
@amber: #FFC107;
.amber{
  color: @amber;
}
@orange: #FF9800;
.orange{
  color: @orange;
}
@deep-orange: #FF5722;
.deep-orange{
  color: @deep-orange;
}
@brown: #795548;
.brown{
  color: @brown;
}
@gray: #9E9E9E;
.gray{
  color: @gray;
}
@blue-gray: #607D8B;
.blue-gray{
  color: @blue-gray;
}
@black: #37474f;
.black{
  color: @black;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'), url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: '微软雅黑', serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

input,
textarea {
  font-family: '微软雅黑', serif;
}

div[ui-view] {
  height: 100%;
}

.visible{
  visibility: visible;
}
.invisible{
  visibility: hidden;
}

.white-toolbar{
  background-color: #ffffff !important;
  color: rgba(0, 0, 0, 0.87) !important;
  .md-toolbar-tools{
    md-icon{
      color: rgba(0, 0, 0, 0.54) !important;
    }
  }
}

md-table-container{
  overflow-y: hidden;
}

table.md-table tr.md-row:last-child td{
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
}

table.md-table .md-cell .material-icons{
  cursor: pointer;
  margin-right: 10px;
}

.page-content{
  max-width:1200px;
  margin: 0 auto;
  opacity: .9;
  min-height: 100%;
  overflow: hidden;
}

.form-box{
  width:800px;
}

.margin-top-16{
  margin-top: 16px;
}

.layout-double-margin{
  margin: 16px;
}

.page-loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.avatar {
  border-radius: 50%;
  background: @teal;
  padding: 0;
}

.search-box{
  padding: 5px 16px 5px 0;
  // background: rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  input,md-icon{
    // color: rgba(255,255,255,.87);
    color: rgba(0, 0, 0, 0.87);
    background: none;
  }
  md-icon{
    margin-top: 2px;
    margin-right: 10px;
  }
  input{
    border:none;
    padding: 0;
    font-size: 16px;
    outline: none;
    &:focus{
      border:none;
    }
  }
}

.no-error{
  margin-top: 0;
  margin-bottom: 0; 
  .md-errors-spacer{
    display: none;
  }
}

.md-toast.success div.md-toast-content{
  background-color: #388E3C;
}
.md-toast.error div.md-toast-content{
  background-color: #D32F2F;
}
.md-toast.warn div.md-toast-content{
  background-color: #FBC02D;
}
.md-toast.info div.md-toast-content{
  background-color: #455A64;
}
.md-toast div.md-toast-content .material-icons{
  color:#fff;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */

// injector
// endinjector